
.border {
    border:     none;
    position:   relative;
}

.dragBounds {
    border:     1px solid #AAA;
    clear:      both;
    height:     1px;
    width:      411px;
    
}

.drag {
    background: #AAA;
    border:     2px solid #444;
    left:       0;
    cursor:     pointer;
    text-align: center;
    top:        -0.7em;
    width:      3em;   
    -moz-border-radius: 15px;
    border-radius: 15px;  
}

#toggle {
    background: #AAA;
    border:     1px solid #444;
    clear:      both;
    cursor:     pointer;
    text-align: center;
    
    padding:    1em;
    width:      5em;
    -moz-border-radius: 15px;
    border-radius: 15px;    
}

.dot {
    height:     10px;
    position:   absolute;
    top:        95px;
    left:       280px;
    width:      10px;
    
}

#blueDot{
    top:        18px; 
}

#sineWave {
    border:		none;
	height:		200px;
    margin:     0;
    padding:    0;
	width:		50%;
}

#vector, #grid {
    position:   absolute;
    width:      189px;
    height:     189px;
    border:     none;
    top:        6;
    left:       0;
}

#grid {
    left:       1;
    top:        7;
    z-index:    0; 
}
#vector {
    z-index:    1;   
}

#cosineLine, #sineline {
    position:       absolute;
    border-top:     1px dashed rgba(0,0,255,0.4);
    height:         2px;
    left:           93px;
    top:            22px;
    width:          190px;
    z-index:        100;
}

#sineline {
    border-top:     1px dashed rgba(255,0,0,0.4);   
    left:           18px;
    top:            98px;
    width:          263px;
    z-index:        101;
}

.arrow {
    border:     none;
    height:     100px;
    width:      100px;
}

.rotRight {
    -webkit-transform:rotate(45deg); /* Chrome & Safari */
    -moz-transform:rotate(45deg); /* Firefox */
    -o-transform:rotate(45deg); /* Opera */
    -ms-transform:rotate(45deg); /* IE 9+ */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678, sizingMethod='auto expand'); /* IE 7-8 */
}