div {
    margin: 1em auto;
    min-height: 150px;
    width: 80%;
}
#exampleContainer {
    border: 2px solid black;
}


#codeAlongContainer {
    border: 2px solid red;
}

#miniLabContainer {
    border: 2px solid blue;
}